body{
    background-color: #2e8b57;
    color: white;
    text-align: center;
    border:5px solid white;
    border-top: 0;
    margin:0px;
     font-family: "Playfair Display", serif;
}

p{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}

form{
    font-size: 1.5em;
    margin: 20px;
}

input[type="text"]{
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}