body{
    background-color: #2e8b57;
    color: white;
    text-align: center;
    border:5px solid white;
    border-top: 0;
    margin:0px;
     font-family: "Playfair Display", serif;
}

p{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}

form{
    font-size: 1.5em;
    margin: 20px;
}

#btn{
    background-color: white;
    color: #2e8b57;
    font-size: 1.2em;
    border-radius: 12px;
    padding: 10px 20px;
    border: 2px solid #2e8b57;
    cursor: pointer;
}

.Abc{
    cursor: pointer;
}